<style>
	.navbar-collapse {
		flex-grow: 0;
	}

	.nav-link {
		/* color: #fff !important; */
		font-size: 1.2rem;
		margin: 1%;
	}

	.nav-link:hover {
		color: #da2c27 !important;
		background: rgb(255, 255, 255);
	}
</style>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #da2c27">
	<div class="container-fluid">
		<div class="logo-bootstrap" style="
				background-color: white;
				height: 3.2rem;
				width: 10%;
				display: flex;
				justify-content: center;
				align-items: center;
			">
			<img draggable="false" style="object-fit: contain; width: 100%; height: 100%; padding: 1%"
				src="https://res.cloudinary.com/brabuprint/image/upload/v1643198606/BrabuPrint/default/logo_kgglad.png"
				alt="" />
		</div>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link adminNavBlog" aria-current="page" href="/admin/blog">Blog</a>
				</li>
				<li class="nav-item">
					<a class="nav-link adminNavService" aria-current="page" href="/admin/service">Services</a>
				</li>
				<li class="nav-item">
					<a class="nav-link adminNavClient" href="/admin/client">Client</a>
				</li>
				<li class="nav-item">
					<a class="nav-link adminNavGallery" href="/admin/gallery">Gallery</a>
				</li>
				<li class="nav-item">
					<a class="nav-link adminNavCarousel" href="/admin/carousel">Projects</a>
				</li>
				<li class="nav-item">
					<a class="nav-link adminNavChatbot" href="/admin/chatbot">Chatbot</a>
				</li>
				<!-- <li class="nav-item">
                    <a class="nav-link adminNavProject" href="/admin/projectcarousel">Project Carousel</a>
                </li> -->
				<li class="nav-item">
					<a style="width: 10rem; text-align: center" class="nav-link adminNavTeam"
						href="/admin/weekreport">Weekly Report</a>
				</li>
			</ul>
		</div>
	</div>
</nav>