<footer>
    <div class="footerclass">
        <div class="footer-heading">
            <h1>Brabuprint</h1>
        </div>
        <div class="footer-second">
            <p><img src="https://img.icons8.com/material-rounded/30/da2c27/marker.png" /></p>
            <p><i>1/555, Mappilaiurani main road, Tutitcorin - 628002</i></p>
            <div class="social-icons-footer">
                <a class="contact-us-footer" href="/contact">Contact Us</a>
                <a class="contact-us-social-footer" href="https://www.facebook.com/brabuprint.brabuprint"
                    target="_blank"><i class="fab fa-facebook"></i></a>
                <a class="contact-us-social-footer" href="https://www.instagram.com/brabuprint/?hl=en"
                    target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>