<header class="header-area">
    <!-- site-navbar start -->
    <div class="navbar-area">
        <div class="container1">
            <span class="nav-color-span">
                <span class="nav-small-boxes-left"></span>
                <span class="nav-small-boxes-right"></span>
            </span>
            <nav class="site-navbar">
                <!-- site logo -->
                <a href="/" class="site-logo"><img draggable="false" class="site-logo-img"
                        src="https://res.cloudinary.com/prasannarv/image/upload/v1636006489/BrabuPrintsMYSQL/th2wbk01cc01dbpco6xv.png"
                        alt=""></a>
                <!-- site menu/nav -->
                <ul>
                    <li><a class="navbarhome" href="/#home">Home</a></li>
                    <li><a class="navbarAbout" href="/#about">About</a></li>
                    <li><a class="navbarServices" href="/#services">Services</a></li>
                    <!-- <li><a class="navbarProjects" href="/#projects">Projects</a></li> -->
                    <li><a class="navbarContact" href="/contact">Contact</a></li>
                    <li><a class="navbarGallery" href="/gallery">Gallery</a></li>
                    <li><a class="navbarBlog" href="/blog">Blog</a></li>
                </ul>
                <ul>
                    <li><a href="https://www.facebook.com/profile.php?id=100072822087652" target="_blank"><img
                                draggable="false" src="https://img.icons8.com/ios-glyphs/30/da2c27/facebook.png" /></a>
                    </li>
                    <li><a href="https://www.linkedin.com/in/digitranit-software-solutions-private-limited-a11783221"
                            target="_blank"><img draggable="false"
                                src="https://img.icons8.com/ios-glyphs/30/da2c27/linkedin.png" /></a></li>
                </ul>
                <!-- nav-toggler for mobile version only -->
                <button class="nav-toggler">
                    <span></span>
                </button>
            </nav>
        </div>
    </div><!-- navbar-area end -->
</header>