<header class="header-area">
	<!-- site-navbar start -->
	<div class="navbar-area">
		<div class="container1">
			<span class="nav-color-span"></span>
			<nav class="site-navbar">
				<!-- site logo -->
				<a href="/" class="site-logo"
					><img
						draggable="false"
						class="site-logo-img"
						src="https://res.cloudinary.com/brabuprint/image/upload/v1643198606/BrabuPrint/default/logo_kgglad.png"
						alt=""
				/></a>
				<!-- site menu/nav -->
				<ul>
					<li><a class="navbarhome" href="/#home">Home</a></li>
					<li><a class="navbarServices" href="/service">Services</a></li>
					<li><a class="navbarProjects" href="/projects">Projects</a></li>
					<li><a class="navbarContact" href="/contact">Contact</a></li>
					<li><a class="navbarGallery" href="/gallery">Gallery</a></li>
					<li><a class="navbarBlog" href="/blog">Blog</a></li>
				</ul>
				<ul>
					<li>
						<a
							href="https://www.facebook.com/brabuprint.brabuprint"
							target="_blank"
							><img
								draggable="false"
								src="https://img.icons8.com/ios-glyphs/40/db1d1d/facebook.png"
						/></a>
					</li>
					<li>
						<a
							href="https://www.instagram.com/brabuprint/?hl=en"
							target="_blank"
							><img
								src="https://img.icons8.com/ios-glyphs/40/db1d1d/instagram-new.png"
						/></a>
					</li>
				</ul>
				<!-- nav-toggler for mobile version only -->
				<button class="nav-toggler">
					<span></span>
				</button>
			</nav>
		</div>
	</div>
	<!-- navbar-area end -->
</header>
