<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="omg.css">
    <title>Document</title>
</head>

<body>
    <section class="parallax">
        <div class="leaf-div">
            <div class="leaf leaf-one">
                <h1 class="leaf-h1-one">Business</h1>
                <div class="leaf-content leaf-content-one">
                    <p>Brabu Prints provides the most innovative and customized business services in the industry. Our
                        Services section shows how flexible we are for all types of budgets.</span>
                    </p>
                </div>
                <div class="button button-one">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="white">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M19 13l-7 7-7-7m14-8l-7 7-7-7" />
                    </svg>
                </div>
            </div>
            <div class="leaf leaf-two">
                <h1 class="leaf-h1-two">Expertise</h1>
                <div class="leaf-content leaf-content-two">
                    <p>
                        1.&nbsp;High quality is on top of our list when it comes to the way we deliver the services
                        impact
                        is what we look for in our actions
                        2.&nbsp;Maximum impact is what we look for in our actions
                        3.&nbsp;Quality standards are important but meant to
                        be exceeded
                        4.&nbsp;We're always looking for industry leaders to
                        help them win their market position
                        5.&nbsp;Evaluation is a key aspect of this business.
                    </p>
                </div>
                <div class="button button-two">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="white">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M19 13l-7 7-7-7m14-8l-7 7-7-7" />
                    </svg>
                </div>
            </div>
            <div class="leaf leaf-three">
                <h1 class="leaf-h1-three">Quality</h1>
                <div class="leaf-content leaf-content-three">
                    <p>
                        We strive to achieve 100% customer satisfaction for both types of customers: hiring companies
                        and
                        job customers: with huge potential Our goal is to seekers. Types of helping your company achieve
                        its
                        full potential and establish long term stability for the stakeholders. It's easy to get a
                        quotation,
                        just call our office anytime We'll get back to you with an initial estimate soon Get ready to
                        see
                        results even after only 30 days Ask for a quote and start improving your business Just fill out
                        the
                        form and we'll call you right away.
                    </p>
                </div>
                <div class="button button-three">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="white">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M19 13l-7 7-7-7m14-8l-7 7-7-7" />
                    </svg>
                </div>
            </div>
        </div>
    </section>

    <script src="omg.js"></script>
</body>

</html>
