<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="omg.css">
    <title>Document</title>
</head>

<body>
    <section class="about-us-section">
        <div class="about-us-topic">
            <h1>About us</h1>
            <h2>Innovative Printing Made Easy</h2>
            <div class="about-us-ptag">
                <p>Quality Printing Solution for office corporate, school, college and home with affordable price. We
                    always
                    focus on customers satisfaction We put our maximum effort into each printing job as is each one is a
                    special job. Brabu Print became a trusted printing brand name by our loyal customers. Our range of
                    printing products. choice of printing materials, fast and quality print service, price, and location
                    all
                    together made us unique We believe in quality service and products.</p>
            </div>
        </div>


        <div class="second-about-us-div">
            <div class="div-about-one">
                <div class="their-about-us about-us-one-image"></div>
                <div class="their-about-us-h1 about-us-one-h1">
                    <h1>Pamphelets/Flyers</h1>
                </div>
                <div class="their-about-us-content about-us-one-content">
                    <marquee width="60%" direction="up" height="100px">
                        Our Gloss/Matt or Silk finish Pamphlets are for promotional activity door-drops, hand-out, or
                        vouchers Brabuprint has the perfect printing solution for you Our folded flyers are printed in
                        full
                        color and bring a smooth subtle feel to your message which can be printed on both sides We
                        specialize in providing high quality fast and reliable folded flyer printing services to
                        large/small
                        print companies and to graphic designers across Tamilnadu.
                    </marquee>
                </div>
            </div>
            <div class="div-about-two">
                <div class="their-about-us about-us-two-image"></div>
                <div class="their-about-us-h1 about-us-two-h1">
                    <h1>Pamphelets/Flyers</h1>
                </div>
                <div class="their-about-us-content about-us-two-content">
                    <marquee width="60%" direction="up" height="100px">
                        Our Gloss/Matt or Silk finish Pamphlets are for promotional activity door-drops, hand-out, or
                        vouchers Brabuprint has the perfect printing solution for you Our folded flyers are printed in
                        full
                        color and bring a smooth subtle feel to your message which can be printed on both sides We
                        specialize in providing high quality fast and reliable folded flyer printing services to
                        large/small
                        print companies and to graphic designers across Tamilnadu.
                    </marquee>
                </div>
            </div>
            <div class="div-about-three">
                <div class="their-about-us about-us-three-image"></div>
                <div class="their-about-us-h1 about-us-three-h1">
                    <h1>Pamphelets/Flyers</h1>
                </div>
                <div class="their-about-us-content about-us-three-content">
                    <marquee width="60%" direction="up" height="100px">
                        Our Gloss/Matt or Silk finish Pamphlets are for promotional activity door-drops, hand-out, or
                        vouchers Brabuprint has the perfect printing solution for you Our folded flyers are printed in
                        full
                        color and bring a smooth subtle feel to your message which can be printed on both sides We
                        specialize in providing high quality fast and reliable folded flyer printing services to
                        large/small
                        print companies and to graphic designers across Tamilnadu.
                    </marquee>
                </div>
            </div>
        </div>
    </section>

    <script src="omg.js"></script>
</body>

</html>