* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../public/img/EP1A3521.jpg) center/cover no-repeat;
}

.leaf-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.leaf {
  margin: 5%;
  position: relative;
  width: 20%;
  height: 15rem;
  background-color: red;
  border-radius: 0% 50% 0% 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.leaf h1 {
  font-size: 2rem;
  color: white;
  margin: 3%;
}

.button {
  color: black;
  width: 20%;
  text-decoration: none;
  border: none;
  transition: all 0.5s ease-in-out;
}

.leaf-content {
  height: 0%;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  font-size: 1.3rem;
  padding: 4%;
  color: white;
}

.heading.leaf-content-one,
.heading.leaf-content-two,
.heading.leaf-content-three {
  height: fit-content;
  opacity: 1;
  overflow: visible;
}

.height.leaf-one,
.height.leaf-two,
.height.leaf-three {
  border-radius: 0%;
  height: 70%;
  width: 30%;
  border-radius: 20px;
}

.buttonRotate {
  transform: rotateX(180deg);
}
