* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-us-section {
  position: relative;
  width: 100%;
  /* height: 100vh; */
}
.about-us-topic {
  text-align: center;
}

.about-us-topic h1 {
  font-size: 3em;
  margin: 2%;
}
.about-us-topic h2 {
  font-size: 2em;
  margin: 1%;
}
.about-us-ptag {
  width: 80%;
  font-size: 1.5em;
  position: relative;
  left: 50%;
  text-align: left;
  transform: translateX(-50%);
}

.aboutUsMainDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutUsFirstDiv {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 2% 0%;
  background-color: rgb(247, 167, 7);
  padding: 2%;
}
.aboutUsFirstDiv1 {
  margin-top: 3%;
}
.aboutUsFirstImage {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* height: 10rem; */
  /* background: url("../img/EP1A3512.jpg") center/cover no-repeat; */
}
.aboutUsFirstImage2 {
  align-items: flex-end;
}

.aboutUsFirstImage img {
  width: 75%;
  height: 100%;
  object-fit: contain;
}

.aboutUsFirstContent {
  width: 60%;
  font-size: 1.3rem;
}
