* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-us-section {
  position: relative;
  width: 100%;
  height: 100vh;
}
.about-us-topic {
  text-align: center;
}

.about-us-topic h1 {
  font-size: 3em;
  margin: 2%;
}
.about-us-topic h2 {
  font-size: 2em;
  margin: 1%;
}
.about-us-ptag {
  width: 80%;
  font-size: 1.5em;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.second-about-us-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20em;
}

.div-about-one,
.div-about-two,
.div-about-three {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 80%;
  margin: 2%;
  border-radius: 10px;
  background-color: rgb(247, 167, 7);
}

.about-us-one-image
{
  background: url(../img/EP1A3515.jpg) center/cover no-repeat;
}
.about-us-two-image
{
  background: url(../img/EP1A3689.jpg) center/cover no-repeat;
}
.about-us-three-image
{
  background: url(../img/EP1A4194.jpg) center/cover no-repeat;
}

.their-about-us {
  width: 75%;
  height: 65%;
  top: 10%;
  position: absolute;
}

.their-about-us-h1 {
  position: absolute;
  bottom: 5%;
  background-color: white;
  padding: 2%;
  border-radius: 10px;
}
.their-about-us-h1 h1 {
  font-size: 1.7rem;
  width: 100%;
}

.their-about-us-content {
  position: absolute;
  display: none;
  margin: 4%;
  width: 90%;
  font-size: 1.3rem;
  padding: 4%;
  position: relative;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 10px;
}

.their-about-us-content marquee {
  width: 100%;
  height: 100%;
}

.aboutUs-Image,
.aboutUs-H1 {
  display: none;
}
.aboutUs-Content {
  display: block;
}
