* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container2 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full-length-contact {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.left-contact-us {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #db1d1d;
}

.image-left-contact-us {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  position: relative;
}

.image-left-contact-us-images {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  background: #fff;
}

.image-left-contact-us-images img:nth-child(1) {
  width: 80%;
  height: 90%;
  object-fit: cover;
}
.image-left-contact-us-images img:nth-child(2) {
  width: 90%;
  object-fit: cover;
}

.right-contact-us {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background: #f7a708;
}

.right-left-conatact-us {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #fff;
}

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}
.contact form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.contact form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.input-contact {
  width: 45%;
  height: 40px;
  margin: 2px;
  border: none;
  /* border-bottom: 1px solid #000; */
  background: transparent;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  color: #000;
  font-size: 16px;
  outline: none;
  padding: 0 15px;
}
.input-contact-message {
  width: 45%;
  height: 100px;
  margin: 2px;
  border: none;
  /* border-bottom: 1px solid #000; */
  background: transparent;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  font-size: 16px;
  padding: 15px;
  outline: none;
}

.button-contact {
  width: 25%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background: #db1d1d;
  color: #fff;
  font-size: 16px;
  outline: none;
  margin: 2%;
}

.contactSection {
  margin: 2% 0%;
}

.navbarContact {
  color: #da2c27 !important;
  background: #fff;
  border-radius: 0% 50% 0% 50%;
}

@media (max-width: 900px) {
  .image-left-contact-us-images img:nth-child(1) {
    width: 100%;
    object-fit: contain;
  }
  .input-contact {
    width: 70%;
  }
  .input-contact-message {
    width: 70%;
  }
}

@media (max-width: 700px) {
  .full-length-contact {
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  .right-contact-us {
    width: 90%;
    justify-content: center;
  }
  .left-contact-us {
    width: 90%;
  }
  .image-left-contact-us {
    justify-content: center;
  }
  .container2 {
    height: auto;
  }
}
