.site-navbar ul li a
{
    font-size: 2.3rem;
}
nav
{
    height: 10rem;
}

a.site-logo
{
    width: 17rem;
}
.carousel
{
    width: 50%;
    height: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.containerCarouselH1
{
    font-size: 3rem;
    text-align: center;
    width: 100%;
    padding: 1%;
}

.containerCarouselH1 span
{
    border-bottom: 3px solid black;
}

.classCarouselposter , .classCarouselgallery
{
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 45rem !important;
}

footer
{
    margin-top: 5%;
}